.article-card-wrapper {
  width: 100%;
  display: flex;
  .article {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .article-card {
      flex: 0.5 1 auto;
      margin: 5em 8px;
    }
  }
}
::ng-deep {
  mat-card-content {
    margin: 0 16px;
  }
}
