<div class="article-card-wrapper">
  <div
    fxLayout="row wrap"
    fxLayoutGap="8px"
    fxLayoutAlign="center"
    class="article"
  >
    <div
      *ngFor="let article of articles"
      fxFlex="100%"
      (click)="goToArticle(article.url)"
      class="article-card"
    >
      <app-card
        [title]="article.title"
        subTitle="{{ 'articles.published' | token : { author: article.author || 'Unknown', publishedAt: article.publishedAt | dateFormat: 'DD MMM YYYY' } }}"
        [image]="article.urlToImage"
        [body]="article.content"
        [description]="article.description"
        [defaultElevation]="defaultElevation"
        [raisedElevation]="raisedElevation"
      >
      </app-card>
    </div>
  </div>
</div>

